<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="connstrng" connectionString="Server=tcp:testowyserwerek.database.windows.net,1433;Initial Catalog=WarhammerDatabase;Persist Security Info=False;User ID=Alusowy@testowyserwerek;;Password=Polak4321;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>